/*
 * =============================================================================
 *  This stylesheet was created by Banan Al-Alasmari - ELM.
 *  Do not change or modify without permission.
 * =============================================================================
 */

/* ============================================================================
   Header Section
   ========================================================================== */
header {
}
ul {
    padding-left: 0;
    line-height: 2;
}

.cards-layout {
    .main-card {
        border-radius: 30px;
        border: none;
        background: #fff;
        position: relative;
        top: -29px;
        margin: 0 auto;
        padding: 1rem;
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;

        h4 {
            color: #808181;
        }
    }
}
/* Carousel Indicators */
.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
    border: none;
    background-color: #e5e5e5;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;

    &:hover {
        background-color: #999;
    }
}

.carousel-indicators .active {
    background-color: #666;
    transform: scale(1.2);
}

.card-carousel-bg {
    background-image: url("../images/card.svg");
    background-repeat: no-repeat;
    height: 24vh;
    background-position: center;
    background-size: 100% 100%;
    label,
    h6,
    p {
        font-size: 12px;
        color: #555;
    }
}

/* Carousel Container */
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

/* Card Carousel */
.card-carousel {
    display: flex;
    justify-content: normal;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 210px;
    direction: rtl;
    transition: transform 0.5s ease-in-out;

    .card-body {
        position: absolute;
        right: 29px;
        width: 100%;
        max-width: 330px;
        height: 100%;
        transform-origin: center;
        transition:
            transform 0.5s ease,
            z-index 0.5s ease,
            opacity 0.3s ease;
        opacity: 0.8;

        &.active-card {
            opacity: 1;
            transform: scale(1.05) translateX(-50%);
        }
    }

    &.show-multiple {
        .card-body {
            transform: none;
        }
    }
}

/* Dots Container */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition:
            background-color 0.3s,
            transform 0.3s;
        &.active-dot {
            background-color: #d9d9d9;
            transform: scale(1.1);
        }

        &:hover {
            background-color: #888;
            transform: scale(1.05);
        }
    }
}

/* View Toggle */
.view-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    button {
        padding: 0.5rem 1rem;
        background-color: #666;
        color: white;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #888;
        }
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    /* Reduce padding and font sizes for smaller screens */
    .card {
        padding: 0.75rem;
    }
    .card-body {
        width: 90%; /* Use more of the screen width */
        max-width: 280px;
    }

    .dots-container .dot {
        height: 15px;
        width: 15px;
    }

    .view-toggle button {
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 480px) {
    /* Further adjustments for extra-small screens */
    .card-carousel {
        flex-direction: column; /* Stack cards vertically if necessary */
        // height: auto;
    }

    .card-body {
        width: 95%; /* Almost full width on extra-small screens */
        max-width: 100%;
        transform: none; /* Center card without translate */
    }

    .card-content {
        padding: 0.5rem;
    }

    h6,
    p {
        font-size: 0.85rem; /* Smaller font for extra-small screens */
    }

    .dots-container {
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 3px;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-layout {
    margin-top: 5rem;
}

.inner-layout {
    margin-top: 3rem;
    position: relative;
}
.card-carousel .card-body {
    padding: 12px;
}

.custom-tabs {
    font-size: 14px;
    position: relative;
    padding: 0px;
    .nav-link {
        border-radius: 8px;
        background: var(--bs-cards-tabs) !important;
        padding: 8px 35px;
        color: var(--bs-cards-text) !important; // Text color
        border: none;
        &.active {
            border-radius: 7px;
            border: 0.5px solid var(--Neutral-50, #f6f7f7);
            background: var(--bs-cards-active-tabs) !important;
            box-shadow:
                0px 3px 8px 0px rgba(0, 0, 0, 0.12),
                0px 3px 1px 0px rgba(0, 0, 0, 0.04);
        }

        &:hover {
            background-color: #e9ecef; // Slight hover effect
        }
    }
}

.accordion-button:not(.collapsed) {
    border-radius: 8px 8px 0px 0px;
    border: 1px solid var(--Neutral-50, #f6f7f7);
    background: var(--Neutral-25, #f8f9f9);
}

.rounded-circle-icon {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}

.custom-card {
    border: 1px solid var(--Neutral-50, #f6f7f7);
}

.card-header {
    border-bottom: none;
}

[dir="ltr"]  { .icon svg {
    fill: $primary;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}
}


.bg-secondary {
    background-color: $secondary !important;
}

.bg-primary {
 background-color: $primary !important;
}

.text-primary {
    color: $primary !important;
   }
.card-header {
    svg {
        fill: #fff
    }
}

.logo {
    width:   160px;
}

.back {
    .icon svg {
        fill: white; // Makes the SVG icon white
        width: 24px; // Adjusts the width
        height: 24px; // Adjusts the height
      }
}

code {
    font-size: .875em;
    color: #ff5d36;
}