body.dark-mode {
      --bs-primary: #5c84d2;
      --bs-info: #8dace8;
      --bs-primary-text: #6babf6 !important;
      --bs-secondary-text: #eaedff !important;
      --bs-tertiary-text: #b6bee7 !important;
      --bs-quaternary-text: #ffffff !important;
      --text-color: #f9f9f9;
      --background-color: #1a173c; // Darker background color
      --card-background: rgba(60, 60, 120, 0.15); // Slightly darker card background
      --card-border-color: #1a173c; // Card border color
      --button-background: #5c84d2; // Darker button background
      --button-text-color: #fff;
      --btn-bg-color: linear-gradient(95deg, #5c84d2, #8dace8); // Gradient button background
      --btn-border-color: #4f4dc2;
      --btn-text-color: #f9f9f9;
      --btn-hover-bg-color: rgba(79, 77, 194, 0.2);
      --btn-hover-border-color: lighten(#4f4dc2, 10%);
      --btn-shadow: 0px 4px 12px rgba(79, 77, 194, 0.2);
      --btn-hover-shadow: 0px 6px 15px rgba(79, 77, 194, 0.3);
      --bs-nav-bg: #1a173c !important; // Darker navbar background
      --bs-nav-active: #4e96ea !important;
      --bs-nav: #ffffff !important;
      --bs-nav-onscroll: #ffffff !important;
      --bs-table-header: #2c3665;

      --bs-cards-active-tabs: #6A708D;
      --bs-cards-tabs: #3F4358;
      --bs-cards-text: #FFFFFF;
      .icon svg {
            fill: white; // Makes the SVG icon white
            width: 24px; // Adjusts the width
            height: 24px; // Adjusts the height
          }
}

/* Light mode (default) */
body {
      background: radial-gradient(circle at 10% 0, rgba(95, 25, 8, 0.38), #00000075 55%), radial-gradient(circle at 90% 100%, rgb(23, 8, 39), transparent 55%), linear-gradient(140deg, #051D49 0%, #000000 40%, #051D49 70%, rgba(110, 21, 0, 0) 100%);
}

/* Dark mode styles */
body.dark-mode {
      background: radial-gradient(circle at 10% 0, rgba(95, 25, 8, 0.38), #00000075 55%), radial-gradient(circle at 90% 100%, rgb(23, 8, 39), transparent 55%), linear-gradient(140deg, #051D49 0%, #000000 40%, #051D49 70%, rgba(110, 21, 0, 0) 100%);
      color: #fff;
      .card {
            border: 1px solid #41465d !important;
            background: #3f4358 !important;
            color: #fff;
      }
      .text-dark,
      .text-primary {
            color: #fff !important;
      }
      .text-muted {
            color: #d2d6db !important;
      }
      .main-card {
            background: #1e212e;
      }
      .card-carousel-bg {
            background-image: url("../images/dark-card.svg");
            label,
            h6,
            p {
                  color: #fff;
            }
      }

      h4 {
            color: #fff !important;
      }

      .logo {
            width: 160px;
            filter: brightness(0) saturate(100%) invert(100%) !important;
      }
}

.custom-tabs .nav-link {
      border-radius: 8px;
      background: #6a708d;
      color: #fff;
}
.custom-tabs .nav-link.active {
      background-color: #3f4358;
      color: #fff;
}

