/*
 * =============================================================================
 *  This stylesheet was created by Banan Al-Alasmari - ELM.
 *  Do not change or modify without permission.
 * =============================================================================
 */

/* Media Queries */

/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1792px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi)
 {

 }

@media screen and (min-width: 1400px) {

}
@media (min-width: 1400px) {
  html,
  body {
    font-size: 16px;
  }
}

@media (max-width: 1330px) {

}

@media (max-width: 992px) {
  html,
  body {
    font-size: 16px;
  }
  header {
    .container {
      --bs-gutter-x: 5rem;
      --bs-gutter-y: 1rem;
    }
  }
}

@media (max-width: 767px) {
  html,
  body {
    font-size: 15px;
    overflow-x: hidden;
  }
}

/* Add styles for extra small screens if needed */
@media (max-width: 400px) {
  // Add your styles here for screens smaller than 400px
}

@media (max-width: 768px) {
  .card-body {
     width: 100%; 
     max-width: none; 
  }
}